@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
* {
  margin: 0 auto;
}

.logo {
  margin-left: 120px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.first-bg {
  background-image: url("Images/s1-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 950px;
}

.nav-1 {
  margin-left: 360px;
}

nav a {
  display: inline-block;
  cursor: pointer;
  margin-right: 37px;
}

.first-heading {
  font-size: 60px;
  margin-top: 251px;
  margin-left: 115px;
}

.f-text {
  display: block;
  width: 330px;
  margin-left: 120px;
  margin-top: 18px;
  line-height: 25px;
}

.button {
  display: block;
  margin-left: 130px;
  margin-top: 20px;
  width: 200px;
  height: 55px;
  background-color: #EF5E36;
}

.scroll {
  display: block;
  text-align: center;
  padding-top: 270px;
}

.two {
  width: 100%;
  height: 700px;
  background-color: #50BCBB;
}

.cup {
  margin-top: 41px;
  margin-left: 109px;
}

.info {
  display: block;
  margin-top: -529px;
  margin-left: 810px;
}

.about {
  font-size: 90px;
}

.p-1 {
  font-size: 17px;
  display: block;
  width: 490px;
  margin-left: 0;
}

.p-2 {
  font-size: 17px;
  display: block;
  width: 490px;
  margin-left: 0;
}

.three {
  width: 100%;
  height: 790px;
  background-color: #70BEF9;
}

.button-shop {
  width: 400px;
  padding-top: 179px;
  margin-left: 265px;
}

.shop {
  width: 400px;
  height: 100px;
  font-size: 20px;
  padding: 0;
}

.product {
  width: 400px;
  height: 100px;
  font-size: 20px;
  margin-top: 20px;
  padding: 0;
}

.delivery {
  width: 400px;
  height: 100px;
  font-size: 20px;
  margin-top: 20px;
  padding: 0;
}

.organized {
  width: 400px;
  height: 100px;
  font-size: 20px;
  margin-top: 20px;
  padding: 0;
}

.tomato {
  background-image: url("Images/img copyTOMATO.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 883px;
  margin-top: -540px;
  width: 490px;
  height: 550px;
}

.our {
  font-size: 90px;
  width: 500px;
  padding-top: 215px;
}

.border-1 {
  width: 100px;
  float: right;
  border-left: 3px solid #9d9d9d;
  height: 99px;
}

.img-1 {
  margin-top: 25px;
  margin-left: -10px;
}

.text-1 {
  margin-top: 40px;
  display: inline-block;
}

.text-2 {
  margin-top: 40px;
  display: inline-block;
}

.img-2 {
  margin-top: 25px;
  margin-left: -10px;
}

.border-2 {
  width: 100px;
  float: right;
  border-left: 3px solid #9d9d9d;
  height: 99px;
}

.text-3 {
  margin-top: 40px;
  display: inline-block;
}

.img-3 {
  margin-top: 25px;
  margin-left: -10px;
}

.border-3 {
  width: 100px;
  float: right;
  border-left: 3px solid #9d9d9d;
  height: 99px;
}

.text-4 {
  margin-top: 40px;
  display: inline-block;
}

.img-4 {
  margin-top: 25px;
  margin-left: -10px;
}

.border-4 {
  width: 100px;
  float: right;
  border-left: 3px solid #9d9d9d;
  height: 99px;
}

.four {
  width: 100%;
  height: 1536px;
  background-color: #FEE84E;
}

.gallery {
  font-size: 90px;
  text-align: center;
  padding-top: 80px;
}

.content {
  font-size: 17px;
  display: inline-block;
  width: 600px;
}

.images-fruits {
  display: flex;
}

.left-66 {
  width: 66.6%;
  margin-left: 155px;
}

.right-33 {
  width: 33.3%;
  margin-left: -184px;
  margin-top: 3px;
}

.last-fruit {
  display: flex;
  margin-left: 163px;
  margin-top: 11px;
}

.margin-top {
  margin-top: 18px;
}

.cup--margin {
  margin-left: -3px;
}

.margin-hurma {
  margin-left: 9px;
}

.button-viev {
  text-align: center;
  margin-top: 40px;
}

.viev {
  width: 200px;
  height: 55px;
  background-color: #5585A1;
  font-size: 20px;
}

.five {
  width: 100%;
  height: 500px;
  background-image: url("Images/fruits-bg.png");
  background-size: cover;
}

.mini-five {
  margin: 0;
  padding-top: 165px;
}

.tous {
  font-size: 40px;
  margin-left: 165px;
  padding-top: -170px;
}

.text-info {
  font-size: 17px;
  display: block;
  width: 570px;
  margin-left: 165px;
}

.subscribe {
  width: 570px;
  height: 50px;
  border: 1px solid black;
  margin-top: 30px;
  margin-left: 165px;
  font-size: 15px;
}

.green {
  width: 170px;
  height: 55px;
  background-color: #96B935;
  font-size: 20px;
  margin-left: 26px;
}

.six {
  width: 100%;
  height: 865px;
  background-color: #AF7CF7;
}

.blog {
  font-size: 90px;
  padding-top: 80px;
  text-align: center;
}

.dolore {
  font-size: 17px;
  display: block;
  width: 560px;
  text-align: center;
}

.col-3 {
  width: 33.3%;
}

.col-3-1 {
  background-image: url("Images/coctail.png");
  background-size: cover;
  width: 370px;
  height: 310px;
}

.col-3-2 {
  background-image: url("Images/tea.png");
  background-size: cover;
  width: 370px;
  height: 310px;
}

.col-3-3 {
  background-image: url("Images/strawberry.png");
  background-size: cover;
  width: 370px;
  height: 310px;
}

.blog-images {
  display: flex;
  margin-left: 157px;
  margin-right: 87px;
  margin-top: 48px;
}

.red-button {
  width: 200px;
  height: 55px;
  background-color: #ED383A;
  display: block;
  margin-top: 40px;
  font-size: 20px;
}

h2 {
  background-image: url("Images/opacity.png");
  background-size: cover;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-left: 30px;
  margin-top: 30px;
}

.by-1 {
  width: 330px;
  margin-left: 30px;
  margin-top: 106px;
}

h3 {
  font-size: 20px;
  color: #FFFFFF;
}

.set-3 {
  font-size: 13px;
  color: #FFFFFF;
}

.seven {
  background-image: url("Images/footer-bg.png");
  background-size: cover;
  width: 100%;
  height: 866px;
}

.f-1 {
  text-align: center;
  padding-top: 90px;
}

.footer-menu {
  font-size: 90px;
}

.new-project {
  font-size: 17px;
  width: 350px;
}

.inp {
  width: 500px;
  height: 447px;
  margin-top: 45px;
}

.f-text-f {
  margin: 0;
  width: 500px;
  height: 50px;
  background-color: #7CDFDF;
  text-decoration: none;
  font-size: 15px;
  border: none;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.f-email {
  margin: 0;
  width: 500px;
  height: 50px;
  background-color: #7CDFDF;
  text-decoration: none;
  font-size: 15px;
  border: none;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.f-tel {
  margin: 0;
  width: 500px;
  height: 50px;
  background-color: #7CDFDF;
  text-decoration: none;
  font-size: 15px;
  border: none;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.f-message {
  margin: 0;
  width: 500px;
  height: 250px;
  background-color: #7CDFDF;
  text-decoration: none;
  font-size: 15px;
  border: none;
  color: #FFFFFF;
}

input.subscribe::placeholder {
  color: #333333;
  padding-left: 15px;
}

input.f-text-f::placeholder {
  color: #FFFFFF;
  padding-top: 22px;
  padding-left: 20px;
}

input.f-email::placeholder {
  color: #FFFFFF;
  padding-top: 22px;
  padding-left: 20px;
}

input.f-tel::placeholder {
  color: #FFFFFF;
  padding-top: 22px;
  padding-left: 20px;
}

input.f-message::placeholder {
  color: #FFFFFF;
  padding-top: 22px;
  padding-left: 20px;
}

h4 {
  font-size: 17px;
}

.fot {
  font-size: 20px;
}

.footer-flex {
  display: flex;
}

.info-footer {
  margin-top: 45px;
}

.eight {
  width: 100%;
  height: 90px;
  background-color: #252525;
  display: flex;
  padding-top: 70px;
}

.love {
  color: #ED3B53;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  border-top: #EF5E36 3px solid;
}

a {
  font-family: "Raleway:700", sans-serif;
}

button:hover {
  opacity: 0.7;
}

h1 h2 h3 h4 {
  font-family: "Raleway:700", sans-serif, bold;
}

p {
  font-family: "Raleway:300", sans-serif;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.8;
  background-color: #949494;
  padding: 0;
}

@media all and (max-width: 640px) {
  nav {
    display: none;
  }
}
nav.opened {
  display: block;
  position: absolute;
  width: 100vw;
  top: 46px;
  left: 0;
}
nav.opened a {
  display: block;
  padding: 10px;
  margin: 0;
  text-align: center;
  background: #cccccc;
}
nav.opened a:hover {
  background: #bbbbbb;
}
nav a {
  margin-left: 10px;
}

.hamburger {
  cursor: pointer;
}
.hamburger span {
  display: block;
  margin: 13px 0;
  height: 4px;
  width: 30px;
  background: #333333;
  position: relative;
  border-radius: 2px;
}
@media all and (min-width: 641px) {
  .hamburger span {
    display: none;
  }
}
.hamburger span:before, .hamburger span:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #333333;
  border-radius: 2px;
}
.hamburger span:before {
  top: -9px;
}
.hamburger span:after {
  bottom: -9px;
}
.hamburger.active span {
  background: none;
}
.hamburger.active span:before {
  transform: rotate(45deg);
  top: 0;
}
.hamburger.active span:after {
  transform: rotate(-45deg);
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
